{% extends 'base.html' %}

{% block content %}
<br>
<h2>გამარჯობა, თქვენ ხართ უნილაბის ბლოგპოსტების ვებ გვერდზე</h2>
<br>
<br>
<br>
<p>გთხოვთ გაიაროთ რეგისტრაცია და შემდეგ შექმნათ თქვენთვის სასურველი ბლოგი</p>

<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <p>კეთილი იყოს თქვენი მობრძანება <em>უნიპოსტზე</em>! 
    ჩვენი მისიაა მოგაწოდოთ უახლესი ინფორმაცია და რჩევები  
    პროგრამული ენების შესახებ. მიუხედავად იმისა, გამოცდილი პროფესიონალი ხართ თუ ახლა იწყებთ, 
    ჩვენი ბლოგპოსტები აუცილებლად გამოგადგებათ, დაგეხმარებათ თქვენი უნარების განვითარებაში.</p>
</div>
<div class="shadow p-3 mb-5 bg-body rounded">
    <p>ნუ დაელოდებით! - ახლავე დარეგისტრირდით და დაიწყეთ ჩვენი სტატიებისა და ბლოგპოსტების გამოყენება, 
        დარწმუნდით, რომ ნამდვილად გაიარეთ რეგისტრაცია, რადგან სხვა შემთხვევაში ვერ შეძლებთ პოსტის დამატებას!</p>
</div>


<br>

{% endblock %}